@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root {
  --articles-background:  hsl(0, 0%, 100%);
  --main-background: hsl(0, 33%, 98%);
  --generationDigital-background: hsl(0, 0%, 98%);
 --easybank-background:  hsl(220, 16%, 96%);

--paragraph-color:var(--articles-background);
--author-color:var(--articles-background);
--header2-color:var(--articles-background);
--header1-color:hsl(0, 33%, 98%);
--header3-color: black;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /*ha khalit kelshi ys3 bl container*/
 
}


.mainparent_container{
 
  background-color: var(--main-background);
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1.5%;
}

/*-----------------------------generationDigitalBanking----------------------*/
.paragraph{
  margin-left:5%;
}

.digitalbanking_button{
    margin-left:5%;
    margin-bottom:7%
}

.digitalbanking_header{
  margin-left:5%;
  font-weight:500;
  }

  .button{
    margin-left:5%;
    margin-bottom:5%;
    border-radius: 2%;
    background-color:hsl(136, 65%, 51%);
  }
  

/*--------------------------------------easyBank-----------------------------*/
.easybank_parentFlex {
  display: flex;
  flex-direction: column;
  background-color: var(--easybank-background);
}

.easybank_flex {
  display: flex;
  flex-direction: row;
  margin:5%;
}


.header3_easybank{
  font-size: 1rem;
  font-weight: 300;
  margin-left:5%;
  }

  .paragraph_easybank{
  font-size: 0.8rem;
  padding-left:5%;
  font-weight:300;
  }

 .icon{
  width: 3rem;
  height: auto;
  }



/*--------------------------------------articles-----------------------------*/
.articles_parentflex{
     display: flex;
  flex-direction: column;

}

.articles_flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 margin-left:2.5%;
 margin-right:2.5%;
}

  .header3_articles{
   font-size: 1rem;
   font-weight: 300;
   margin-left:5%;
  }

  .paragraph_articles{
  font-size: 0.8rem;
  padding-left:5%;
  font-weight:300;
  }

  .author{
   margin-left:5%;
   font-size: 0.5rem;
  }


.image{
    width:100%;
    height: 40%; 
}

.article{
 margin-right:1%;
 background-color: white;
 margin-bottom:2rem;
 margin-right:2rem;
 margin-left:2rem;
}



/*--------------------------------------header2 for both easyBank and article parts-------------*/
  .header2{
  font-size: 1.5rem;
  font-weight: 400;
  margin-left:5%;
  }



  
